body{
background: url(../images/bg_tile.png) repeat top left;
}
#main_container{
margin-left: auto;
margin-right: auto;
display:block;
width: 1024px;
min-height: 600px;
background: gray;
}
#links{
position: relative;
float: right;
display:inline-block;
padding: 0px;
margin: 0px;
}
.button{
display: inline-block;
width: 180px;
background: green;
text-align: center;
font-size: 30px;
padding: 22px 0;
}
.slideshow img{
display: none;
opacity: 0.0;
}

